* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

p.sort-desc {
    font-size: 12px;
	font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
}

button#new {
    background-color: inherit;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 13px;
	font-weight: bold;
    padding: 4px 8px;
    text-transform: uppercase;
}

button#new.clicked {
    background-color: black;
    color: white;
}

button:hover {
    cursor: pointer;
}

article {
    padding: 16px 0 12px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.5px solid #0000004a;
}

article:first-of-type {
    border-top: 2px solid #0000004a;
}
article:last-of-type {
    border-bottom: 2px solid #0000004a;
}

h1,
p.main-desc,
section {
    /* font-weight: lighter; */
    padding-bottom: 16px;
}

div {
    padding-bottom: 2px;
}

.title,
.venue {
	text-transform: uppercase;
	font-weight: bold;
}

.title {
    flex: 100%;
}

.venue, 
.date {
    color: #000000a7;
    flex: content;
}

.venue {
    font-size: 14px;
}

.date {
    font-size: 14px;
    text-align: end;
}

footer {
    font-weight: bold;
    padding: 0 16px 16px;
    text-align: center;
    text-transform: uppercase;
}