:root {
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 16px;

    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}
nav ul li a:hover {
    text-decoration: underline;
    color: inherit;
}

.logo {
    margin-right: auto;
    font-size: 1.125rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: italic;
}

.current {
    font-weight: bolder;
}

main {
    margin-top: 8px;
    padding: 16px;
}

main li {
    margin-bottom: 16px;
    padding-left: 20px;
}

main h1 {
    margin-bottom: 16px;
}

main h2 {
    margin: 18px 0 20px;
    padding-top: 18px;
    border-top: 1px solid gray;

}

main h3 {
    margin: -10px 0 10px;
    padding: 10px 0;
    background-color: white;
    color: black;
}

.type {
    border: 1px solid;
    color: white;
    font-size: 0.75rem;
    padding: 0.075rem 0.5rem;
    border-radius: 1rem;
    text-transform: uppercase;
}

.gig {
    color: green;
    background-color: #00800011;
    border-color: green;
}

.concert {
    color: red;
    background-color: #ff000011;
    border-color: red;
}

.mall {
    color: blue;
    background-color: #0000ff11;
    border-color: blue;
}

.attended {
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.attended .type {
    color: white;
    border: 1px solid #ffffff99;
}

.attended .mall {
    background-color: blue;
}

.attended .concert {
    background-color: red;
}

.attended .gig {
    background-color: green;
}

