* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

p.appearance-desc,
p.sort-desc,
p.filter-desc {
    font-size: 12px;
	font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
}

button {
    background-color: inherit;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 13px;
	font-weight: bold;
    padding: 4px 8px;
    text-transform: uppercase;
}

button.clicked {
    background-color: black;
    color: white;
}

button#mode.clicked,
.dark > section > button.clicked,
.dark > section > section > button.clicked {
    background-color: white;
    color: black;
}

button:hover {
    cursor: pointer;
}

article {
    padding: 16px 0 12px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 0.5px solid #0000004a;
}

article:first-of-type {
    border-top: 2px solid #0000004a;
}
article:last-of-type {
    border-bottom: 2px solid #0000004a;
}

h1,
p.main-desc,
section.appearance,
section.sort,
section.filter {
    /* font-weight: lighter; */
    padding-bottom: 16px;
}

div {
    padding-bottom: 2px;
}

.title,
.venue {
	text-transform: uppercase;
	font-weight: bold;
}

.title {
    flex: 100%;
}

.venue, 
.date {
    color: #000000a7;
    flex: content;
}

.venue {
    font-size: 14px;
}

.date {
    font-size: 14px;
    text-align: end;
}

footer {
    font-weight: bold;
    padding: 0 16px 16px;
    text-align: center;
    text-transform: uppercase;
}

.dark {
    color: rgb(232, 232, 232);
    background-color: #1f1f1f;
}

.dark > article {
    color: rgb(189, 193, 198);
}

.dark > section > button,
.dark > section > section > button
 {
    border-color: white;
    color: white;
}

.dark > article {
    border-color: #ffffff9d;
}

.dark > article > .venue,
.dark > article > .date {
    color: #ffffff9d;
}

/* #concert {
    border-color: red;
    color: red;
}

#concert.clicked {
    background-color: red;
    color: white;
}

#mall {
    border-color: blue;
    color: blue;
}

#mall.clicked {
    background-color: blue;
    color: white;
}

#gig {
    border-color: green;
    color: green;
}

#gig.clicked {
    background-color: green;
    color: white;
} */