:root {
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    padding: 16px;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}
nav ul li a:hover {
    text-decoration: underline;
    color: inherit;
}

.logo {
    font-size: 1.125rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: italic;
}

main {
    margin-top: 8px;
    padding: 16px;
}

main > ul > li {
    padding: 16px 20px;
    font-size: 0.9em;
    border-top: 1px dotted gray;
}

section > p {
    color: gray;
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 12px;
}

section > ul > li {
    padding: 16px 20px;
    font-size: 0.9em;
    border-top: 1px dotted gray;
}

span.event-date {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 6px;
    font-size: 1.5rem;
}

span.event-date.today {
    background-color: black;
    color: white;
}


main h1 {
    margin-bottom: 16px;
}

section {
    border-top: 2px solid gray;
    margin-top: 18px
}

main h1 {
    /* text-align: center; */
    margin: 20px 0 40px;
}

main h2 {
    background-color: white;
    margin-top: 8px;
    padding-bottom: 20px;
    padding-top: 20px;
    position: sticky;
    top: 0;
}

main h3 {
    margin: 10px 0;
    padding: 10px 0;
    background-color: white;
    color: black;
}

br {
    content: "";
    display: block;
    margin-bottom: 0.2rem;
}

br:first-of-type {
    margin-bottom: 0.25rem;
}

.type {
    border: 1px solid;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.65rem;
    font-weight: bold;
    padding: 0.075rem 0.5rem;
    text-transform: uppercase;
}

.gig {
    background-color: green;
    color: white;
    border-color: green;
}

.concert {
    background-color: red;
    color: white;
    border-color: red;
}

.mall {
    background-color: blue;
    color: white;
    border-color: blue;
}

.other {
    background-color: gray;
    color: white;
    border-color: gray;
}

main > ul > li.attended {
    border-radius: 8px;
    background-color: black;
    color: white;
}

strong.show {
    font-size: 1rem;
}

em.lineup {
    color: #000000dd;
}

br.details {
    margin-bottom: 12px;
}

span.time {
    font-weight: bold;
}

.attended .type {
    color: white;
    border: 1px solid #ffffff99;
}

.attended .mall {
    background-color: blue;
}

.attended .concert {
    background-color: red;
}

.attended .gig {
    background-color: green;
}

